body {
  margin:40px auto;
  max-width:650px;
  line-height:1.5;
  color:#444;
  padding:0 10px;
}

time {
  font-weight: bold;
}

code {
  padding: 5px;
  border-radius: 5px;
  background: #eee;
}

pre {
  padding: 15px;
  border-radius: 5px;
  background: #eee;
  overflow-x: auto;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

@media (prefers-color-scheme: dark) {
  body {
    color:white;
    background:#444;
  }
  a:link {
    color:#5bf;
  }
  a:visited {
    color:#ccf;
  }
  blockquote p {
    background: #333;
  }
  code {
    background: #333;
  }
  pre {
    background: #333;
  }
}
